body {
    font-family: 'times new roman'; /* jenis huruf */
    background: #360101; /* warna background */
    margin: 0; 
}

/* kotak utama */
.container {
    width: 95%; 
    margin: auto; 
    background: #d1b883; 
    padding: 15px; 
    border-radius: 12px; /* sudut melengkung */
}

/* header */
.header {
    background: #350101; /* warna header */
    color: white; /* warna tulisan */
    padding: 20px;
}

/* judul tengah */
.header h2 {
    text-align: center;
}

/* info kiri kanan */
.info {
    display: flex;
    justify-content: space-between;
}

/* tabel */
table {
    width: 100%;
    border-collapse: collapse; /* biar garis nyatu */
    border: 1px solid black; /* garis luar */
}

/* header tabel */
th {
    background: linear-gradient(to right, #210F00, #3E120A, #5a020f);
    color: white;
}

/* isi tabel */
td {
    background: white;
}

/* garis tabel */
td, th {
    border: 2px solid black; /* garis dalam */
    padding: 8px;
    text-align: center;
}

/* warna selang seling */
tr:nth-child(even) td {
    background: #fff5f5;
}

/* efek saat diarahkan mouse */
tr:hover td {
    background: #ffd6d6;
}

/* input nilai */
td input {
    width: 55px;
    text-align: center;
}

/* form bawah */
.form {
    text-align: center;
    margin-top: 15px;
}

/* menu kecil rename delete */
.menu-aksi {
    position: absolute; /* posisi bebas */
    background: #021b16;
    padding: 7px;
    border-radius: 10px;
}

/* tombol menu */
.menu-aksi button {
    width: 100%;
    margin: 4px 0;
    padding: 6px;
    cursor: pointer;
}

/* hover rename */
.menu-aksi button:first-child:hover {
    background: green;
    color: white;
}

/* hover delete */
.menu-aksi button:last-child:hover {
    background: red;
    color: white;
}

/* class untuk sembunyi */
.hidden {
    display: none;
}